
body {
   
    font-family: "Zain", serif;
}


.logo {
    width: 450px;
    border-radius: 0%;
}
.video-bg {
    width: 1750px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.header {
    padding: 20px 10px;
    background-color: #1e1f36;
    display: flex;
    align-items: center;
    gap: 300px;
}

.logo {
    width: px;
}

.menu {
    display: flex;
    gap: 40px;
    font-size: 20px;
}

.menu__link {
    text-decoration: none;
    color: #ffffff;
    transition: .3s;
}

.menu__link:hover {
    color: rgb(0, 0, 0);
}

.hero-section {
    padding: 100px 200px 100px 100px;
    min-height: 100vh;
    background-image: url(./ajy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-heading, .hero-heading-second {
    font-size: 50px;
    color: rgb(253, 255, 184);
}

.hero-heading-second {
    font-size: 25px;
}

.hero-info {
    margin-left: 200px;
    margin-top: 120px;
    width: 700px;
    text-align: center;
    background-color: #0000009b;
}
.menu__link:hover {
    color: #000;
}
 
